.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  top: 0;
  position: fixed;
  align-items: center;
  background-color: gray;
  padding: 0 15px;
}
.navbar_logo {
  font-size: 25px;
  font-weight: 700;
  color: azure;
}

.navbar_links {
  margin: 0 15px;
  margin-left: auto;
  color: azure;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.navbar_links:hover {
  color: rgb(54, 53, 53);
}
