* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books_container {
  margin-top: 100px;
}
.book {
  width: 80em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid gray;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
